# Data cleaning with examples: Cleaning eBay used cars data with Pandas

In [1]:
# Import the neccessary modules for data manipulation and visual representation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as matplot
import seaborn as sns
%matplotlib inline

In [2]:
pd.set_option('display.max_columns', None)  
df = pd.read_csv('autos.csv', encoding='latin-1')
df1 = pd.read_csv('autos.csv', encoding='latin-1')
det = pd.read_csv('cnt_km_year_powerPS_minPrice_maxPrice_avgPrice_sdPrice.csv')

## Understanding Data

In [3]:
df.head(5)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [4]:
df.tail(5)

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

In [5]:
df.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

## Removing obvious inconsistencies
### Deleting columns

In [6]:
# finding rows where seller is not labels 'privat'
df.loc[df['seller'] != 'privat'].shape

(3, 20)

In [7]:
df.loc[df['offerType'] != 'Angebot'].shape

(12, 20)

Since only 3 rows out of the whole dataset has "gewerblich" (commercial) as seller type, we can drop the seller colum. There are other unnecessary or unuseful columns. For example, due to inconsistencies in name labels and the fact that we're not doing a linguistic analysis, we can delete the name column, which takes up a lot of space.

In [8]:
df = df.drop(['seller','name'],axis=1)
df.head(3)

,dateCrawled,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46

In [9]:
df.shape

(371528, 18)

### Deleting Rows

#### Invalid values

In [10]:
# Counting the number of rows with NaN values
np.count_nonzero(df.isnull().values)

184008

In [11]:
# there are many ways to find the # of rows with NaN or missing values
# in this case, we have 110572 car sale entries with NaN values
df1 = df[df.isnull().any(axis=1)] # axis=1 specifies rows instead of columns
df1.shape

(110572, 18)

In [12]:
df = df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
df.shape

(260956, 18)

#### Model and Brand
Dropping rows where model and brand are not specified

In [13]:
df.dropna(subset=['model','brand'],axis=0, how='any', thresh=None, inplace=False)

,dateCrawled,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
3,2016-03-17 16:54:04,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
5,2016-04-04 17:36:23,Angebot,650,test,limousine,1995,manuell,102,3er,150000,10,benzin,bmw,ja,2016-04-04 00:00:00,0,33775,2016-04-06 19:17:07
6,2016-04-01 20:48:51,Angebot,2200,test,cabrio,2004,manuell,109,2_reihe,150000,8,benzin,peugeot,nein,2016-04-01 00:00:00,0,67112,2016-04-05 18:18:39
7,2016-03-21 18:54:38,Angebot,0,test,limousine,1980,manuell,50,andere,40000,7,benzin,volkswagen,nein,2016-03-21 00:00:00,0,19348,2016-03-25 16:47:58
10,2016-03-26 19:54:18,Angebot,2000,control,limousine,2004,manuell,105,3_reihe,150000,12,benzin,mazda,nein,2016-03-26 00:00:00,0,96224,2016-04-06 10:45:34
11,2016-04-07 10:06:22,Angebot,2799,control,kombi,2005,manuell,140,passat,150000,12,diesel,volkswagen,ja,2016-04-07 00:00:00,0,57290,2016-04-07 10:25:17
14,2016-03-21 12:57:01,Angebot,17999,control,suv,2011,manuell,190,navara,70000,3,diesel,nissan,nein,2016-03-21 00:00:00,0,4177,2016-04-06 07:45:42
17,2016-03-20 10:25:19,Angebot,1750,control,kleinwagen,2004,automatik,75,twingo,150000,2,benzin,renault,nein,2016-03-20 00:00:00,0,65599,2016-04-06 13:16:07
18,2016-03-23 15:48:05,Angebot,7550,test,bus,2007,manuell,136,c_max,150000,6,diesel,ford,nein,2016-03-23 00:00:00,0,88361,2016-04-05 18:45:11
19,2016-04-01 22:55:47,Angebot,1850,test,bus,2004,manuell,102,a_klasse,150000,1,benzin,mercedes_benz,nein,2016-04-01 00:00:00,0,49565,2016-04-05 22:46:05
20,2016-04-01 19:56:48,Angebot,10400,control,coupe,2009,manuell,160,scirocco,100000,4,benzin,volkswagen,nein,2016-04-01 00:00:00,0,75365,2016-04-05 16:45:49
21,2016-03-27 11:38:00,Angebot,3699,test,limousine,2002,automatik,231,5er,150000,7,benzin,bmw,nein,2016-03-27 00:00:00,0,68309,2016-04-07 06:44:26
23,2016-03-12 19:43:07,Angebot,450,test,kleinwagen,1997,manuell,50,arosa,150000,5,benzin,seat,nein,2016-03-12 00:00:00,0,9526,2016-03-21 01:46:11
24,2016-03-13 20:40:49,Angebot,500,test,limousine,1990,manuell,118,andere,150000,10,benzin,mercedes_benz,ja,2016-03-13 00:00:00,0,35390,2016-03-13 20:40:49
25,2016-03-18 21:44:09,Angebot,2500,control,kombi,2002,automatik,193,5er,150000,9,diesel,bmw,ja,2016-03-18 00:00:00,0,73765,2016-03-18 21:44:09
27,2016-03-07 12:51:23,Angebot,6900,test,limousine,2008,manuell,99,civic,60000,11,benzin,honda,nein,2016-03-07 00:00:00,0,12621,2016-03-26 09:44:53
28,2016-03-09 11:56:38,Angebot,1990,test,bus,1981,manuell,50,transporter,5000,1,benzin,volkswagen,nein,2016-03-09 00:00:00,0,87471,2016-03-10 07:44:33
29,2016-03-08 19:55:19,Angebot,690,test,kleinwagen,2003,manuell,60,punto,150000,3,benzin,fiat,nein,2016-03-08 00:00:00,0,86199,2016-03-09 11:45:28
30,2016-04-03 15:48:11,Angebot,3300,test,limousine,1995,automatik,113,e_klasse,150000,1,diesel,mercedes_benz,nein,2016-04-03 00:00:00,0,53879,2016-04-05 15:16:05
33,2016-03-25 21:48:47,Angebot,18000,test,limousine,2007,automatik,218,3er,20000,5,benzin,bmw,nein,2016-03-25 00:00:00,0,39179,2016-04-07 04:45:21
34,2016-03-17 18:55:12,Angebot,3500,control,limousine,2004,automatik,122,e_klasse,150000,11,diesel,mercedes_benz,nein,2016-03-17 00:00:00,0,67071,2016-03-30 15:46:10
38,2016-04-01 17:45:07,Angebot,11900,test,andere,2002,manuell,129,andere,150000,11,diesel,volkswagen,nein,2016-04-01 00:00:00,0,10551,2016-04-05 12:47:30
39,2016-03-25 15:50:30,Angebot,1500,test,bus,1984,manuell,70,andere,150000,8,diesel,mercedes_benz,nein,2016-03-25 00:00:00,0,22767,2016-03-27 03:17:02
43,2016-03-13 15:47:08,Angebot,6990,test,limousine,2007,manuell,95,one,100000,8,benzin,mini,nein,2016-03-13 00:00:00,0,59174,2016-03-21 17:17:50
45,2016-03-29 18:57:46,Angebot,590,control,kleinwagen,1999,manuell,75,clio,125000,8,benzin,renault,nein,2016-03-29 00:00:00,0,84180,2016-03-29 18:57:46
46,2016-03-15 18:59:02,Angebot,7999,control,limousine,2007,manuell,177,1er,150000,8,diesel,bmw,nein,2016-03-15 00:00:00,0,53604,2016-03-16 16:47:48
47,2016-04-04 00:38:22,Angebot,2100,test,kombi,1998,automatik,193,5er,150000,2,benzin,bmw,nein,2016-04-03 00:00:00,0,86157,2016-04-06 08:16:21
49,2016-04-04 14:06:22,Angebot,13500,test,bus,2012,automatik,109,b_klasse,150000,7,diesel,mercedes_benz,nein,2016-04-04 00:00:00,0,35576,2016-04-05 12:09:29
55,2016-03-26 10:39:35,Angebot,550,test,kombi,1999,manuell,0,astra,150000,8,diesel,opel,ja,2016-03-26 00:00:00,0,56759,2016-04-01 23:17:27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371480,2016-03-26 23:25:24,Angebot,4499,control,cabrio,2006,automatik,82,roadster,125000,3,benzin,smart,nein,2016-03-26 00:00:00,0,63065,2016-04-07 01:16:17
371481,2016-03-12 16:48:14,Angebot,12800,control,cabrio,1991,manuell,211,andere,150000,7,benzin,porsche,nein,2016-03-12 00:00:00,0,21147,2016-04-07 06:46:00
371483,2016-03-07 09:54:08,Angebot,20500,control,limousine,2012,automatik,136,e_klasse,60000,4,diesel,mercedes_benz,nein,2016-03-07 00:00:00,0,77694,2016-04-06 22:15:49
371487,2016-03-14 16:52:33,Angebot,3800,test,limousine,2002,automatik,177,e_klasse,150000,5,diesel,mercedes_benz,ja,2016-03-14 00:00:00,0,86609,2016-04-05 23:16:30
371488,2016-03-15 01:51:20,Angebot,2999,test,coupe,2003,manuell,143,andere,150000,3,benzin,mercedes_benz,ja,2016-03-14 00:00:00,0,72766,2016-04-05 13:17:05
371489,2016-03-13 15:45:22,Angebot,7900,test,bus,2007,manuell,0,b_klasse,125000,1,benzin,mercedes_benz,nein,2016-03-13 00:00:00,0,30519,2016-03-27 00:18:05
371490,2016-03-22 10:37:54,Angebot,13850,control,kombi,2012,manuell,156,accord,125000,10,benzin,honda,nein,2016-03-22 00:00:00,0,91301,2016-04-05 23:17:04
371491,2016-03-15 20:25:20,Angebot,3200,test,limousine,2002,manuell,116,passat,150000,4,lpg,volkswagen,nein,2016-03-15 00:00:00,0,60439,2016-04-07 03:16:40
371492,2016-04-04 14:41:28,Angebot,390,test,kleinwagen,1997,automatik,0,corsa,100000,6,benzin,opel,ja,2016-04-04 00:00:00,0,17509,2016-04-06 15:46:11
371497,2016-03-05 15:54:11,Angebot,4900,control,kombi,2008,manuell,116,astra,150000,2,benzin,opel,nein,2016-03-05 00:00:00,0,88213,2016-04-05 18:44:48
371499,2016-03-08 13:52:00,Angebot,600,control,kleinwagen,1998,manuell,54,corsa,150000,1,benzin,opel,nein,2016-03-08 00:00:00,0,24850,2016-03-13 00:16:40
371500,2016-03-21 23:40:49,Angebot,20400,test,limousine,2014,automatik,150,golf,30000,9,benzin,volkswagen,nein,2016-03-21 00:00:00,0,38470,2016-04-07 04:17:32
371501,2016-03-26 18:36:54,Angebot,3900,test,bus,2003,automatik,174,voyager,150000,7,benzin,chrysler,nein,2016-03-26 00:00:00,0,34320,2016-04-06 09:16:04
371502,2016-04-01 12:59:21,Angebot,1600,test,kombi,1998,manuell,125,a4,150000,2,benzin,audi,nein,2016-04-01 00:00:00,0,34414,2016-04-07 09:44:29
371503,2016-04-01 01:55:58,Angebot,1700,control,kleinwagen,1999,manuell,68,justy,70000,11,benzin,subaru,nein,2016-03-31 00:00:00,0,90439,2016-04-07 04:16:26
371505,2016-04-03 19:56:57,Angebot,800,test,kombi,2000,manuell,101,astra,150000,11,benzin,opel,ja,2016-04-03 00:00:00,0,58730,2016-04-05 20:45:39
371506,2016-03-20 18:47:59,Angebot,5900,test,limousine,2006,manuell,105,golf,150000,9,diesel,volkswagen,nein,2016-03-20 00:00:00,0,1217,2016-04-07 02:44:27
371508,2016-04-02 16:43:27,Angebot,1400,control,limousine,2001,manuell,125,astra,150000,2,benzin,opel,nein,2016-04-02 00:00:00,0,23820,2016-04-06 15:18:04
371510,2016-03-06 21:11:23,Angebot,6500,test,limousine,2003,automatik,145,e_klasse,150000,3,diesel,mercedes_benz,nein,2016-03-05 00:00:00,0,60437,2016-03-12 12:18:05
371511,2016-03-31 18:50:37,Angebot,1999,control,limousine,1997,manuell,150,a3,150000,12,benzin,audi,nein,2016-03-31 00:00:00,0,4275,2016-04-06 12:46:41
371512,2016-03-25 18:48:06,Angebot,5000,test,limousine,2003,automatik,260,e_klasse,150000,12,diesel,mercedes_benz,ja,2016-03-25 00:00:00,0,90473,2016-04-07 00:44:51
371513,2016-03-21 15:36:22,Angebot,4400,control,limousine,2008,manuell,105,leon,150000,7,diesel,seat,nein,2016-03-21 00:00:00,0,45896,2016-04-06 15:45:01
371516,2016-04-04 09:57:12,Angebot,1490,control,kleinwagen,1998,manuell,50,lupo,150000,9,benzin,volkswagen,nein,2016-04-04 00:00:00,0,48653,2016-04-06 11:17:13
371517,2016-03-28 13:48:07,Angebot,7900,test,limousine,2010,manuell,140,golf,150000,7,diesel,volkswagen,nein,2016-03-28 00:00:00,0,75223,2016-04-02 18:16:20
371518,2016-04-02 20:37:03,Angebot,3999,test,kombi,2005,manuell,3,3er,150000,5,diesel,bmw,nein,2016-04-02 00:00:00,0,81825,2016-04-06 20:47:12
371520,2016-03-19 19:53:49,Angebot,3200,control,limousine,2004,manuell,225,leon,150000,5,benzin,seat,ja,2016-03-19 00:00:00,0,96465,2016-03-19 20:44:43
371521,2016-03-27 20:36:20,Angebot,1150,control,bus,2000,manuell,0,zafira,150000,3,benzin,opel,nein,2016-03-27 00:00:00,0,26624,2016-03-29 10:17:23
371524,2016-03-05 19:56:21,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371527,2016-03-07 19:39:19,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

#### Order Type

In [14]:
df.loc[df['offerType'] != 'Angebot','offerType'].values

array(['Gesuch', 'Gesuch', 'Gesuch', 'Gesuch'], dtype=object)

Since there are only 12 cars that are not transacted with the order type 'angebot' (offering) and we don't care about 'gesuch' or petitioned cars, we can delete the rows as well as the order type column offerType.

In [15]:
df = df.loc[df['offerType'] == 'Angebot']
df = df.drop('offerType',axis=1)
df.shape

(260952, 17)

#### Horsepower
Since all cars are built with the ability to move, we can consider 0 to be invalid for powerPS too.

In [16]:
df = df[df.powerPS != 0]
df.dropna(subset=['powerPS'],axis=0, how='any', thresh=None, inplace=False)
df.shape

(251154, 17)